<div class="workout-card">
  <div class="workout-card-header">
    {{workout_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
    <p>
     Time frame:
      {{workout_time}}
    </p>
      <p>
     Level:
      {{workout_level}}
    </p>
    {{!-- {{#if has_nuts}}
      <p class="has-nuts">
        Contains Nuts
      </p>
    {{/if}} --}}
  </div>
</div>