<header>
  <p id="sportify">Sportify</p>
  <div class="nav-tags" class="menu-bar">
    <a href="#">Home</a>
    <a href="#">My Profile</a>
    <a href="#">Workouts</a>
    <a href="#">Music</a>
  </div>
  <div class="nav-tags">
    <!-- {{#if loggedIn}} -->
        <a href="#" id="logout" class="btn-no-style">Log out </a>
        <!-- {{/if}} -->
  </div>
</header>