<div class="workout-card">
  <div class="workout-card-header">
    <img
      src="./images/best-exercise-for-fibromyalgia.jpg"
      alt="sportimg"
      width="100%"
    />
    {{workout_name}}
  </div>
  <div class="card-body">
    <img src="" alt="" width="100%" heigth="150px" />
    <p>Description: {{description}}</p>
    <p>Time frame: {{workout_time}}</p>
    <p>Level: {{workout_level}}</p>

    <p><button class="btn-save">Save</button></p>
  </div>
</div>