 <div id="workout-card">
      <div class="workout-card">
        <div class="workout-card-header">
          <img
            src="./images/best-exercise-for-fibromyalgia.jpg"
            alt="sportimg"
            width="100%"
            height="150px"
          />
          {{title}}
        </div>
        <div class="card-body">
          <!-- <p><strong>Description:</strong> {{description}}</p> -->
          <p>
            <strong>Time frame:</strong>
            {{time_frame}}
          </p>
          <p>
            <strong>Level:</strong>
            {{workout_level}}
          </p>

          <p><button class="btn-save">read more</button></p>
        </div>
      </div>