<div class="profile-card">
  <aside class="saved-workouts">
    <h2>Saved Workouts</h2>
    {{workout-card}}
  </aside>


  <form type="submit" id="workout-form">
    <div class="create-workout">
      <div class="mb-3">
        <label for="workout-name" class="form-label">Name of workout</label>
        <input
            type="text"
            class="form-control"
            id="workout-name"
            placeholder="Type the name of workout"
        />
      </div>
      <select name="difficulty-dropdown" id="difficulty">
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
      </select>
      <div class="mb-3">
        <label for="description" class="form-label">Workout steps</label>
        <textarea class="form-control" id="workout-steps" rows="3"></textarea>
        <p>
          <button type="submit" class="btn-save">Save workout</button>
        </p>
      </div>
    </div>
  </form>
</div>
<script>
  const workoutFormEl = document.querySelector('#workout-form');
  const workoutNameEl = document.querySelector('#workout-name')
  const textAreaEl = document.querySelector('#workout-steps');
  // dropdown
  const dropdownEl = document.querySelector('#difficulty')
  // const difficulty = dropdownEl.options[dropdownEl.selectedIndex].value;

  workoutFormEl.addEventListener('submit', async (e) => {
    e.preventDefault();
    let objectToSend = {
      title: workoutNameEl.value,
      description: textAreaEl.value,
      intensity: dropdownEl.value,
      time_frame: "1 hour"
    }

    const response = await fetch('/api/v1/workout', {
      method: 'POST',
      body: JSON.stringify(objectToSend),
      headers: {'Content-Type': 'application/json'},
    }).catch(error => console.log(error));
    if (response.ok) {
      alert('Workout successfully added!')
      // document.location.replace('/');
    }
  })
</script>
{{!-- <!-- {{#if loggedIn}} -->
<script src="/js/logout.js"></script>
<!-- {{/if}} -->
</body>
</html> --}}