body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black !important;
}
/* HEADER TAGS */

.nav-tags a {
  color: white !important;
  font-size: 25px;
  text-decoration: none !important;
  padding: 10px;
}
a:hover {
  color: #5ab8b8 !important;
  transition: all 250ms ease;
}
#sportify {
  font-family: "Monoton", cursive;
  font-size: 60px;
  color: rgb(16, 176, 194);
}

img header {
  padding: 10px;
  text-align: center;
  background: #13293d;
  color: #fff;
  max-width: 100%;
}
header {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: rgb(231, 217, 217);
}
.nav-tags {
  display: inline-block;
  align-content: space-around;
  padding: 10px;
  display: inline-block;
}
/* .menu-bar a {
  padding-right: 0px;
} */
.nav-phrase {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-size: 25px;
}
/* LOGIN CARD */
.container {
  align-items: center;
  justify-content: space-around;
  color: azure;
}
label {
  font-size: 18px;
  padding: 3px;
}
.login-card {
  text-align: right;
  color: rgba(240, 248, 255, 0.811);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 3%;
}
.login-btn,
.signup-btn {
  align-items: flex-start;
}
.page-title {
  text-align: center;
}

/* WORKOUT CARD */
#workout-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.workout-card {
  box-shadow: 0 4px 8px 0 rgba(161, 154, 154, 0.501);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: serif;
  font-size: 20px;
  color: #b8d6f2;
  background-color: rgba(255, 255, 255, 0.241);
  margin: 50px;
}

.workout-card-header {
  color: white;
  background-color: #13293d;
  padding: 20px;
}
.login-btn,
.signup-btn,
.btn-save,
.btn-add-to-list {
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: rgb(202, 45, 45);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.login-btn,
.signup-btn {
  background-color: rgb(102, 92, 92);
}
.login-btn:hover,
.signup-btn:hover,
.btn-save:hover,
.btn-add-to-list:hover {
  opacity: 0.7;
}

/* WORKOUT CARD DESCRIPTION */
.card-description {
  margin: 80px;
}

#workout-description {
  text-align: center;
  color: #b8d6f2;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3%;
  margin: 2%;
  background-color: rgba(255, 255, 255, 0.241);
}
/* Comment section */
.comment-section {
  margin: 2%;
  background-color: rgba(238, 234, 234, 0.464);
}
div .comment-section a {
  color: blue;
  font-size: 20px;
}

/*PROFILE PAGE: creating workout card */
.profile-card {
  display: flex;
}

.create-workout {
  color: aliceblue;
  font-size: 35px;
  margin: 5%;
  width: 800px;
  padding-left: 10%;
}
.workout {
  background-color: rgb(102, 92, 92);
}

/* PROFILE PAGE : aside bar */
aside {
  background-color: rgba(51, 49, 49, 0.577);
  margin-top: 2%;
}
.create-workout h2 {
  padding-bottom: 50px;
  text-align: center;
  color: rgba(219, 226, 226, 0.856);
}
.aside-text {
  padding-top: 50px;
  text-align: center;
  color: rgba(219, 226, 226, 0.856);
}
/* About PAGE */
.about {
  text-align: center;
  color: rgba(219, 226, 226, 0.924);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10% 15%;
  background-color: rgba(61, 55, 55, 0.51);
}
.about h1 {
  margin: 30px;
}
/* Footer */

footer {
  margin-top: 2%;
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: rgb(231, 217, 217);
}
#copyright {
  font-size: 15px;
}
/* MEDIA QUERY */
/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: #852a1e;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  header {
    background-color: #13293d;
  }
  .create-workout {
    color: rgb(210, 221, 230);
    font-size: 35px;
    margin-right: 20px;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  header {
    background-color: #96c4f3;
  }
  header p {
    color: #333f4ac6;
  }
  #sportify {
    font-family: "Monoton", cursive;
    font-size: 50px;
    color: rgb(59, 52, 80);
  }
  .profile-card {
    flex-wrap: wrap-reverse;
  }
  .create-workout {
    color: rgb(210, 227, 242);
    text-align: center;
    align-content: center;
    background-color: rgba(105, 94, 94, 0.327);
    padding: 0;
  }
}
