<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sportify</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../public/stylesheets/style.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <p id="sportify">Sportify</p>
      <!-- <a href="#">Home</a>
      <a href="#">My Profile</a>
      <a href="#">Workouts</a>
      <a href="#">Music</a> -->
      <!-- {{#if loggedIn}} -->
      <a href="#" id="logout" class="btn-no-style">Sign up | </a>
      <!-- {{else}} -->

      <a href="#" id="login" class="btn-no-style"> Log in</a>
      <!-- {{/if}} -->
    </header>

    <div class="row justify-space-between-md">
      <div class="login-card">
        <h2 class="page-title">Login</h2>
        <form class="form login-form">
          <div class="form-group">
            <label for="email-login">Email:</label>
            <input class="form-input" type="text" id="email-login" />
          </div>
          <div class="form-group">
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">login</button>
          </div>
        </form>
        <div class="login-card">
          <h2 class="page-title">Signup</h2>
          <form class="form signup-form">
            <div class="form-group">
              <label for="username-signup">Username:</label>
              <input class="form-input" type="text" id="username-signup" />
            </div>
            <div class="form-group">
              <label for="email-signup">Email:</label>
              <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group">
              <label for="password-signup">Password:</label>
              <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">signup</button>
            </div>
          </form>
        </div>
      </div>
    <main>
      <div class="main-content">
        <img
          src="../html/images/sport-invernali-ciaspole-e1450793701501.jpg"
          alt="sport-img"
          width="100%"
        />
        <!-- {{{body}}} -->
      </div>
    </main>

    <!-- {{#if loggedIn}} -->
    <script src="/js/logout.js"></script>
    <!-- {{/if}} -->
  </body>
</html>
